@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-date-input::-webkit-calendar-picker-indicator {
    filter: invert(1); /* This turns the icon white */
    opacity: 1;
    cursor: pointer;
}

.custom-date-input {
    color-scheme: dark; /* Ensures proper styling for inputs on dark mode */
}

